*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

@keyframes moveInLeft {
  0% {
    opacity: 10;
    transform: translateX(-5rem); }
  50% {
    opacity: 50;
    transform: translateX(5rem); }
  100% {
    opacity: 100;
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    opacity: 10;
    transform: translateX(5rem); }
  50% {
    opacity: 50;
    transform: translateX(-5rem); }
  100% {
    opacity: 100;
    transform: translateX(0rem); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.2rem;
    animation-name: moveInRight;
    animation-duration: 2000ms; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation-name: moveInLeft;
    animation-duration: 2000ms;
    margin-bottom: 3rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(10deg);
    text-shadow: 0.5rem 1rem 2rem #55c57a; }

.heading-third {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 1rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../../../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding-top: 25rem;
  margin-top: -25vh; }
  .section-tours__discover-button {
    margin-left: 50%;
    transform: translate(-50%, 50%); }

.section-stories {
  position: relative;
  padding-top: 10rem; }

.section-booking {
  padding: 15rem;
  background-image: linear-gradient(#55c57a, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(40, 180, 133, 0.1) 50%), url(../../../img/nat-10.jpg);
  height: 50rem;
  border-radius: 9px;
  box-shadow: 5rem 5rem 5rem rgba(0, 0, 0, 0.2);
  background-size: 100%; }
  .book-form {
    width: 60%;
    padding: 6rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  padding: 5rem;
  background-color: #313131; }
  .footer__navigation {
    border-top: 1px solid white;
    display: inline-block; }
  .footer__item {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5); }
  .footer__copyright {
    color: #f7f7f7;
    text-align: justify;
    text-transform: uppercase;
    border-top: 1px solid white;
    display: inline-block; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  color: #777; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2 *3rem) / 3); }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 *3rem) / 3) + 3rem); }
  .row .col-1-4 {
    width: calc((100% - 3 *3rem) / 4); }
  .row .col-2-4 {
    width: calc(2 * ((100% - 3 *3rem) / 4) + 3rem); }
  .row .col-3-4 {
    width: calc(3 * ((100% - 3 *3rem) / 4) + 2 *3rem); }

.composition {
  position: relative; }
  .composition__photo {
    box-shadow: 0 20px 4rem rgba(119, 119, 119, 0.5);
    border-radius: 5px;
    position: absolute;
    z-index: 5;
    transition: all 0.3s; }
    .composition__photo-p1 {
      left: 0;
      top: -2rem; }
    .composition__photo-p2 {
      right: 0;
      top: 4rem; }
    .composition__photo-p3 {
      left: 20%;
      top: 15rem; }
    .composition__photo:hover {
      transform: scale(1.2);
      z-index: 10;
      border: 5px solid #28b485;
      padding: 5px; }

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  font-size: 1.6rem;
  position: relative;
  height: 55rem; }
  .card__side {
    background-color: white;
    height: 55rem;
    transition: all 0.8s;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    box-shadow: 3px 3px 3rem rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden; }
  .card__side-front {
    color: white;
    background-image: white; }
  .card__side-back {
    color: white;
    transform: rotateY(180deg); }
    .card__side-back-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__side-back-2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card__side-back-3 {
      background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
  .card:hover .card__side-front {
    transform: rotateY(-180deg); }
  .card:hover .card__side-back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    display: block; }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../../img/nat-6.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../../img/nat-5.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #55c57a, #28b485), url(../../../img/nat-4.jpg); }
  .card__heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    top: 10rem;
    position: absolute;
    text-align: right;
    color: black;
    right: 2rem;
    width: 75%;
    padding: 1rem 4rem;
    display: block; }
  .card__heading-span-1 {
    background-image: linear-gradient(to right, #ffb900, #ff7730); }
  .card__heading-span-2 {
    background-image: linear-gradient(to right, #2998ff, #5643fa); }
  .card__heading-span-3 {
    background-image: linear-gradient(to right, #55c57a, #28b485); }
  .card__details ul {
    list-style: none;
    width: 50%;
    margin: 0 auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1rem;
      padding: 2rem;
      color: black; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #818181; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 5rem;
    text-align: center; }
  .card__price-only {
    text-transform: uppercase; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 4rem;
  transition: all .2s;
  font-size: 1.6rem;
  cursor: pointer;
  border: none; }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--green {
  background-color: #28b485;
  color: #fff; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2); }

.btn:focus, .btn:active {
  transform: translateY(-0.22rem);
  box-shadow: 0 0.5rem 1rem;
  outline: none; }

.btn-text {
  font-size: 1.6rem;
  padding: 3px;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.25s; }
  .btn-text:link {
    color: #28b485; }
  .btn-text:visited {
    color: #28b485;
    border-bottom: 1px solid #55c57a;
    font-size: 1.6rem; }
  .btn-text:hover {
    background-color: #28b485;
    color: white;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.125);
    transform: translateY(-2px); }
  .btn-text:active {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.01);
    transform: translateY(0); }

.feature-box {
  padding: 2.5rem 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 5px 5px 3rem rgba(0, 0, 0, 0.5);
  transition: all 0.2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 2px;
    background-image: linear-gradient(to right, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8));
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-10px) scale(1.03); }

.story {
  background-color: #fff;
  width: 55%;
  margin: 0 auto 10rem auto;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 3rem 3rem;
  transform: skewX(-12deg); }
  .story-btn {
    margin-right: 0 auto; }
  .story__text {
    transform: skewX(12deg); }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    border: hidden;
    shape-outside: circle(50%);
    clip-path: circle(45% at 50% 50%);
    transform: translateX(-1rem);
    position: relative;
    transform: skewX(12deg);
    margin-right: 25px; }
  .story__picture {
    height: 100%;
    transform: translateX(-3rem);
    transition: all .5s;
    backface-visibility: hidden; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    transition: all .5s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__picture {
    transform: scale(1.5);
    filter: blur(10px) brightness(15px); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: fill; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  background-color: #fff;
  border: none;
  width: 70%;
  display: block;
  border-bottom: 2px solid transparent; }
  .form__input:focus {
    outline: none;
    border-bottom: 2px solid #28b485;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__input:focus:invalid {
    border-bottom: 2px solid #ff7730; }

.form__label {
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  margin-left: 5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  position: absolute;
  border: 5px solid #28b485;
  border-radius: 50%;
  top: -.2rem;
  left: -4rem; }
  .form__radio-button::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    height: 1.3rem;
    width: 1.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28b485;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }
