/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
   /*font-size: 16px;*/
    line-height: 1.7;
    color: #777;
    padding: 1rem;
    box-sizing: border-box;

}

.header{
    height: 95vh;
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark,0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    position: relative;
}

.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;

}
.header__logo{
    height: 3.5rem;
}

.header__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
}
.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.2rem;
    animation-name: moveInRight;
    animation-duration: 2000ms;
}
.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation-name: moveInLeft;
    animation-duration: 2000ms;
    margin-bottom: 3rem;
}

@keyframes moveInLeft
{
    0%{
        opacity: 10;
        transform: translateX(-5rem);
    }
    50%{
        opacity: 50;
        transform: translateX(5rem);
    }

    100%{
        
        opacity: 100;
        transform: translateX(0rem);
    }
}

@keyframes moveInRight
{
    0%{
        opacity: 10;
        transform: translateX(5rem);
    }
    50%{
        opacity: 50;
        transform: translateX(-5rem);
    }

    100%{
        
        opacity: 100;
        transform: translateX(0rem);
    }
}


.btn:link, btn:visited
{
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 4rem;
transition: all .2s;
font-size: 1.6rem;
}

.btn--white
{
background-color: #fff;
color: grey;

}

.btn:hover{
    transform: translateY(-2rem);
    box-shadow: 0 1rem 2rem ;
    
}

.btn:active
{
    transform: translateY(-0.22rem);
    box-shadow: 0 0.5rem 1rem ;
}