$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-grey-light-1: #f7f7f7;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-grey: #777;
$color-grey-dark: rgb(49, 49, 49);
$color-black: rgb(0, 0, 0);

$secondary-light-yellow: #ffb900;
$secondary-dark-yellow: #ff7730;


$secondary-light-blue: #2998ff;
$secondary-dark-blue: #5643fa;


//default font size
$default-font-size: 1.6rem;


$vertical-gutter-row: 6rem;
$horizontal-gutter-col: 3rem;