.btn {
&,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 4rem;
        transition: all .2s;
        font-size: 1.6rem;

        cursor: pointer;
        border: none;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey;

    }

    &--green {
        background-color: $color-primary-dark;
        color: $color-white;

    }

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 2rem 2rem rgba(black, .2);

    }
&:focus,
    &:active {
        transform: translateY(-0.22rem);
        box-shadow: 0 0.5rem 1rem;
        outline: none;
    }
}

.btn-text {
    font-size: 1.6rem;
    padding: 3px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.25s;

    &:link {
        color: $color-primary-dark;
    }

    &:visited {
        color: $color-primary-dark;
        border-bottom: 1px solid $color-primary-light;

        font-size: 1.6rem;
    }

    &:hover {

        background-color: $color-primary-dark;
        color: white;
        box-shadow: 5px 5px 3px rgba($color: #000000, $alpha: 0.125);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 5px 5px rgba($color: #000000, $alpha: 0.01);
        transform: translateY(0);
    }
}