.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.6rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: .5rem;
        background-color: $color-white;
        border: none;
        width: 70%;
        display: block;
        border-bottom: 2px solid transparent;

        &:focus {
            outline: none;
            border-bottom: 2px solid $color-primary-dark;
            box-shadow: 0 1rem 2rem rgba(black, .1);
        }

        &:focus:invalid {
            border-bottom: 2px solid $secondary-dark-yellow;
        }
    }

    &__label {

        margin-left: 2rem;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 400;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3rem);

    }

    &__radio-group {
        width: 49%;
        display:inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {

        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        margin-left: 5rem;
        
        
    }

    &__radio-button{
        height:3rem;
        width: 3rem;
        display: inline-block;
        position: absolute;
        border: 5px solid $color-primary-dark;
        border-radius: 50%;
        top: -.2rem;
        left: -4rem;

        &::after{
            content: "";
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            height: 1.3rem;
            width: 1.3rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50% );
            background-color: $color-primary-dark;
            opacity: 0;
            transition: opacity .2s;
        }

    }


    &__radio-input:checked ~ &__radio-label &__radio-button::after{
opacity: 1;
    }
}


