.story{
    background-color: $color-white;
    width: 55%;
    margin: 0 auto 10rem auto;
    box-shadow: 0 3rem 3rem rgba(black, .1);
    border-radius: 0.5rem;
    padding: 3rem 3rem;
    transform: skewX(-12deg);
    

&__text{
    transform: skewX(12deg);
}
    &__shape{
        height: 15rem;
        width: 15rem;
        float: left;
        border: hidden;
        shape-outside: circle(50%);
        clip-path: circle(45% at 50% 50%);
        transform: translateX(-1rem);
        position: relative;
        transform: skewX(12deg);
        margin-right: 25px;
    }

    &__picture{

        height: 100%;
        transform: translateX(-3rem);
        
        transition: all .5s;
        backface-visibility: hidden;
    }

    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-align: center;
        font-size: 1.7rem;
        text-transform: uppercase;
        color: $color-white;
        opacity: 0;
        transition: all .5s;
        
    }


    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);

    }


    &:hover &__picture{
        transform: scale(1.5);
        filter: blur(10px) brightness(15px);

    }
}
