.section-about{
 background-color: $color-grey-light-1;
padding: 25rem 0;
margin-top: -25vh;
}

.section-features{
padding: 25rem 0;
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark,0.8)), url(../../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > *{
        transform: skewY(7deg);
    }

}

.section-tours{
    background-color: $color-grey-light-1;
    padding-top: 25rem;
    margin-bottom: 15rem;
    margin-top: -25vh;
    &__discover-button{
        margin-left: 50%;
        transform: translate(-50%, 50%);
    }
    
}

.section-stories{
    background-color: rgb(231, 209, 82);
    padding-top: 25rem;
    margin-bottom: 15rem;
    margin-top: -25vh;
  
    
}